<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <div class="container mt-5">
            <div class="alert alert-warning">
                <h4>Sorry, there's nothing at this address.</h4>
            </div>
        </div>
    </NotFound>
</Router>
